body {
  height: 100vh;
}

.cpts-ctn {
  height: 100vh;
}

.one-cpt-ctn {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tag-search {
  border: 1px solid grey;
}

.tag-search input {
  border: 0;
  outline: 0;
  font-size: 0.9em;
}
